repos:
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
    -   id: cargo-check
    -   id: clippy
        args: [--fix, --allow-dirty, --allow-staged, --, -D, warnings]
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix]
