[workspace]
members = ["rgrow", "py-rgrow"]
default-members = ["rgrow"]
resolver = "2"

[workspace.dependencies]
ndarray = {version = "^0.15", features = ["serde"]}
rand = {version = "^0", features = ["small_rng"]}
serde = {version = "^1.0.185", features=["derive", "rc"]}
pyo3 = {version = "^0.21", features = ["extension-module", "multiple-pymethods"]}
rayon = { version = "1" }
numpy = "^0.21"
approx = "^0.5"
pyo3-polars = "^0.15"
polars = {version = "^0.41", features = ["lazy", "parquet", "product"]}

[workspace.package]
version = "0.18.0"
authors = ["Constantine Evans <const@costi.net>"]
edition = "2021"
repository = "https://github.com/cgevans/rgrow"
license = "BSD-3-Clause"
categories = ["science", "simulation"]
# debug = true
# lto = true