[project]
name = "rgrow"
dependencies = ["numpy ~= 2.0", "attrs ~= 23.2", "matplotlib ~= 3.9", "typing_extensions", "tqdm", "pyyaml", "platformdirs"]
requires-python = ">=3.10"
dynamic = ["version"]

[project.optional-dependencies]

testing = [
    "pytest",
    "hypothesis"
]

[build-system]
requires = ["maturin~=1.4"]
build-backend = "maturin"

[tool.pytest.ini_options]
testpaths = ["py-rgrow/tests"]

[tool.maturin]
bindings = "pyo3"
python-source = "py-rgrow"
manifest-path = "py-rgrow/Cargo.toml"

[dependency-groups]
dev = [
    "ipykernel>=6.31.0",
    "ipywidgets>=8.1.8",
]
