name: CI

on:
  push:
    branches:
      - main
      - master
    tags:
      - "*"
    paths-ignore:
      - CHANGELOG.md
      - README.md
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  rust_checks:
    name: Checks for Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout tiny-xlib fork
        uses: actions/checkout@v4
        with:
          repository: cgevans/tiny-xlib
          path: ./tiny-xlib
      - uses: dtolnay/rust-toolchain@master
        with:
          components: clippy,llvm-tools
          toolchain: stable
      - name: Set up cache
        uses: Swatinem/rust-cache@v2
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov
      - name: Run Clippy
        run: just clippy
      - name: Run tests and coverage
        run: just cov-rust
      - uses: codecov/codecov-action@v5
        with:
          files: coverage-rust.lcov
          name: rust-linux
          token: ${{ secrets.CODECOV_TOKEN }}
  python_checks:
    name: Checks for Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkout tiny-xlib fork
        uses: actions/checkout@v4
        with:
          repository: cgevans/tiny-xlib
          path: ./tiny-xlib
      - uses: dtolnay/rust-toolchain@master
        with:
          components: clippy,llvm-tools
          toolchain: stable
      - name: Set up cache
        uses: Swatinem/rust-cache@v2
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Setup virtual environment
        run: |
          uv venv
          uv pip install -U pip setuptools wheel
      - name: Run Ruff on Python code
        run: just ruff
      - name: Install cargo-llvm-cov
        run: cargo install cargo-llvm-cov
      - name: Install maturin and pytest
        run: |
          uv pip install maturin pytest pytest-cov hypothesis
      - name: Run tests and coverage
        run: just cov-python
      - name: Run ty
        continue-on-error: true
        run: |
          uvx ty check py-rgrow/rgrow/
      - uses: codecov/codecov-action@v5
        with:
          files: coverage-python.lcov
          name: python-linux
          token: ${{ secrets.CODECOV_TOKEN }}
  linux:
    name: Python Linux builds
    needs: [python_checks]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64] # aarch64, armv7l
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist 
          sccache: "true"
          manylinux: "auto"
      - name: Build gui wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out ../dist
          sccache: "true"
          manylinux: "auto"
          working-directory: rgrow-gui

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.target }}
          path: dist
  # deploy-docs:
  #   runs-on: ubuntu-latest
  #   needs: [python_checks]
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: "3.11"
  #         cache: pip
  #         cache-dependency-path: py-rgrow/docs/requirements-docs.txt

  #     - name: Install Python dependencies
  #       working-directory: py-rgrow/docs
  #       run: |
  #         pip install --upgrade pip
  #         pip install -r requirements-docs.txt
  windows:
    name: Python Windows builds
    needs: [python_checks]
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          architecture: ${{ matrix.target }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: "true"
          rust-toolchain: stable
      - name: Build gui wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out ../dist --find-interpreter
          sccache: "true"
          working-directory: rgrow-gui
          rust-toolchain: stable
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-${{ matrix.target }}
          path: dist

  macos:
    name: Python MacOS builds
    needs: [python_checks]
    runs-on: macos-latest
    strategy:
      matrix:
        target: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out dist --find-interpreter
          sccache: "true"
          rust-toolchain: stable
      - name: Build gui wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.target }}
          args: --release --out ../dist --find-interpreter
          sccache: "true"
          rust-toolchain: stable
          working-directory: rgrow-gui
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-${{ matrix.target }}
          path: dist

  sdist:
    needs: [python_checks]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
      - name: Build gui sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          working-directory: rgrow-gui
          args: --out ../dist 
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: target/wheels

  python_release:
    name: Python PyPI Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [linux, windows, macos, sdist]
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
      - name: Publish to PyPI
        uses: PyO3/maturin-action@v1
        env:
          MATURIN_PYPI_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        with:
          command: upload
          args: --skip-existing *

  rust_release:
    name: Rust Crates.io Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    needs: [rust_checks]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Set up Rust cache
        uses: Swatinem/rust-cache@v2
      # - name: Install X components
        # run: sudo apt-get install -y libxinerama-dev libxcursor-dev libxfixes-dev libxft-dev libpango1.0-dev libpangoxft-1.0-0 libpangocairo-1.0-0  
      - name: Publish to crates.io
        run: cargo publish --allow-dirty -p rgrow
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
